.Book-Content{
  // border: 1px solid black;
  width: auto;
  height: auto;
  // padding: 2vh 16vh;
  margin: 0% 1.2%;
}
.main {
    width: auto;
    height: auto;
  }
  ::ng-deep.mat-toolbar {
    background: #a03037;
    color: #ffffff;
  }
  .header-toolbar {
    width: 100%;
    background-color: #a03037;
    height: 10vh;
    top: 0;
    position: fixed;
    margin-bottom: 10vh;
    // border: 1px solid black;
    z-index: 1;
  }
  
  .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: capitalize;
    opacity: 1;
    margin-left: 165px;
  }
  
  /************************************************/
  .search-bar {
    padding-right: 30px;
    height: 48px;
    // max-width: 720px;
    width: 720px;
    padding-left: 60px;
  }
  
  .search {
    margin-left: 0;
    margin-right: 0;
    // -webkit-border-radius: 5px;
    // border-radius: 5px;
  
    background: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    // max-width: 720px;
    position: relative;
  }
  
  .searches-input {
    height: 46px;
    padding: 0;
    margin-left: 56px;
    margin-right: 49px;
    overflow: hidden;
  }
  
  .input-search {
    padding: 11px 0;
    background: transparent;
    border: none;
    font: normal 16px Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 0 5px;
  
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    // padding: 0 5px;
    line-height: 0;
  }
  
  .search-icon {
    float: left;
    position: absolute;
    top: 0;
  }
  
  .search-icon svg {
    padding: 8px;
    margin: 3px;
  
    border-radius: 50%;
    color: #5f6368;
    opacity: 1;
  
    fill: currentColor;
  }
  
  /***********************************************/
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    opacity: 1;
    cursor: pointer;
    border-left: 1px solid #7e262be6;
    // border-right: 1px solid #7e262be6;
  }
  
  .material-symbols-sharp {
    font-family: "Roboto", sans-serif;
    font-weight: 300; /* Medium */
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.45px;
    color: #ffffff;
    opacity: 1;
  }
  
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
    opacity: 1;
    cursor: pointer;
    border-left: 1px solid #7e262be6;
    border-right: 1px solid #7e262be6;
    padding-top: 6px;
  }
  
  .cart-img {
    width: 15px;
    height: 16px;
    margin-bottom: 7px;
  }
  
  /*************************************************/
  .footer-toolbar {
    background-color: #2e1d1e;
    height: 50px;
    background: #2e1d1e 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    align-items: center;
    height: 49px;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .footer-text {
    text-align: left;
    // font-size: ;
    font-size: small;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    // height: 15px;
    font-weight: 100;
    margin-left: 165px;
  }
  
  /***************************************/
  .profile-matMenu {
    width: 200px;
    height: 182px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  }
  
  .hello {
    font-family: "Roboto", sans-serif;
    font-weight: 600; /* Medium */
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
  }
  
  .menu-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
    gap: 10px;
  
    width: 80px;
    height: 16px;
    /* UI Properties */
    opacity: 1;
    cursor: pointer;
  }
  
  .profile-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300; /* Medium */
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
  }
  
  ::ng-deep.mat-mdc-menu-content {
    margin: 0 !important;
    padding: 15px 10px 20px 26px !important;
    display: flex;
    flex-direction: column !important;
    gap: 10px;
    list-style-type: none !important;
  }
  
  .logoutButton {
    width: 123px;
    height: 33px;
    /* UI Properties */
    border: 1px solid #a03037;
    border-radius: 2px;
    opacity: 1;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-weight: 300; /* Medium */
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #a03037;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    margin-top: 12px;
  }
  
  ::ng-deep.mat-mdc-menu-panel.mat-mdc-menu-panel {
    min-width: 200px !important;
  }
  
  /***********************************/
  @media only screen and (max-width: 600px) {
    .logo {
      margin-left: 10px;
    }
  
    .search-bar {
      padding-left: 10px;
    }
  
    .footer-text {
      margin-left: 10px;
    }
  }
  
  @media only screen and (min-width: 650px) {
    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100px;
      opacity: 1;
      cursor: pointer;
      border-left: 1px solid #7e262be6;
      // border-right: 1px solid #7e262be6;
      margin-left: 200px;
    }
  }