<div class="main-container">
  <div class="main">
    <div class="books-heading">
      <span class="books-span">Books</span>
      <span class="books-count">({{allBooksData.length}})</span>
    </div>
    <div>


      <select class="select-box">
        <option value="">Sort by relevance</option>
        <option *ngFor="let sort of SortOption" [value]="sort.value">
          {{sort.viewValue}}
        </option>
      </select>
    </div>
  </div>
 
    <app-display-all-books [AllBooksData]="allBooksData"></app-display-all-books>

</div>