.main {
    display: flex;
    margin: 0;
    width: 100%;
    height: 99vh;
    align-items: center;
    background-color: #878787;
    justify-content: center;
    border: 2px solid yellow;
  }
  // .main.login-selected {
  //     display: flex;
  //     width: 100%;
  //     height: 100%;
  //     align-items: center;
  //     justify-content: center;
  //     background-color: #707070; /* Background color when "Login" tab is selected */
  //   }
  
  .logo-img-main {
    width: 600px;
    height: 470px;
    /* UI Properties */
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    position: absolute;
  }
  
  .logo-content {
    display: flex;
    flex-direction: column;
    // height: 400px;
    // width: 450px;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
    padding-left: 50px;
  }
  .logo-content img {
    border-radius: 100%;
  }
  .logo {
    width: 240px;
    height: 290px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-top: 30px;
  }
  .heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500; /* Medium */
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #0a0102;
    text-transform: uppercase;
    opacity: 1;
    padding-left: 20px;
  }
  
  /******************************************/
  .login-signup-contanier {
    width: 400px;
    min-height: 425px;
    /* UI Properties */
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    opacity: 1;
    position: relative;
    z-index: 1;
    margin-left: 500px;
    padding: 28px 52px 8px 52px;
  }
  
  ::ng-deep.mdc-tab-indicator__content--underline {
    align-self: flex-end;
    box-sizing: border-box;
    // width: 100%;
    border-top-style: solid;
    width: 22px;
    height: 5px;
    background: #a03037 0% 0% no-repeat padding-box;
    border-radius: 4px;
  }
  
  ::ng-deep .mdc-tab-indicator__content--underline {
    align-self: flex-end;
    box-sizing: border-box;
    width: 20% !important;
    border-top-style: solid;
  }
  
  ::ng-deep.mdc-text-field__input {
    margin-top: 10px !important;
  }
  
  ::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled)
    .mdc-tab-indicator__content--underline,
  .mat-mdc-tab-link:not(.mat-mdc-tab-disabled)
    .mdc-tab-indicator__content--underline {
    border-color: #a03037;
  }
  
  ::ng-deep.mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active
    .mdc-tab__text-label,
  .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active
    .mdc-tab__text-label {
    /* color: #3f51b5; */
    color: #0a0102;
  }
  
  ::ng-deep.mat-mdc-tab-header-pagination {
    display: none !important;
  }
  
  ::ng-deep.mdc-tab__text-label {
    transition: 150ms color linear;
    display: inline-block;
    line-height: 1;
    z-index: 2;
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0a0102;
    text-transform: uppercase;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  
  ::ng-deep .mdc-tab-indicator__content--underline {
    border-top-width: 0px;
  }
  
  /******************************************************/
  .sub-container {
    padding: 3% 0% 3% 0%;
    height: auto;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .form-container-signUP{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    padding-bottom: 6.8%;
  }
  .form-container-login{
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  
  ::ng-deep .mat-mdc-form-field {
    width: 100%;
  }
  
  
  /***button***/
  ::ng-deep.mat-mdc-raised-button.mat-primary {
    background: #a03037 0% 0% no-repeat padding-box !important;
  }
  
  ::ng-deep.mat-mdc-button.mat-mdc-button-base,
  .mat-mdc-raised-button.mat-mdc-button-base,
  .mat-mdc-unelevated-button.mat-mdc-button-base,
  .mat-mdc-outlined-button.mat-mdc-button-base {
    border-radius: 3px !important;
    height: 37px !important;
  }
  
  ::ng-deep.mdc-button {
    font-family: "Roboto", sans-serif !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 20px !important;
    letter-spacing: 0px !important;
  }
  
  /*****************facebook-google-button****************/
  .facebook-google-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  // ::ng-deep .mat-mdc-raised-button.mat-primary {
  //     --mdc-protected-button-container-color: #F5F5F5 0% 0% no-repeat padding-box;;
  //     --mdc-protected-button-label-text-color: #fff;
  // }
  .facebook-button {
    width: 138px;
    height: 40px;
    /* UI Properties */
    background: #4266b2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    border: none;
    opacity: 1;
  
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    cursor: pointer;
  }
  .google-button {
    width: 138px;
    height: 40px;
    /* UI Properties */
    background: #f5f5f5 0% 0% no-repeat padding-box;
    border: 1.5px solid #e4e4e4;
    border-radius: 3px;
    opacity: 1;
    color: #0a0102;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    cursor: pointer;
  }
  
  ::ng-deep.mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  /******************************************************/
  
  @media only screen and (max-width: 600px) {
    .main {
      flex-direction: column;
    }
  
    .logo-img-main {
      display: none; /* Hide the container */
    }
  
    .login-signup-contanier {
      //   width: 100%;
      margin-left: 0;
      margin-top: 20px;
      // width: 380px;
    }
  }
mat-raised-button{
    border: none;
    background-color:#A03037;
  }
  .custom-button{
    background-color: #A03037;
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    color: white;
  }